# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ List popular languages for data science
+ List popular libraries used by data scientists
+ List 3 Data Science tools
+ Train Python coding with simple artithmetics

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. pandas
3. matplotlib

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Visual Studio Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Raphael K.